.v-table {
    height: 400px;
    overflow: auto;
    position: relative;

    ul {
        display: flex;
        list-style: none;

        &:first-child {
            background: #f1f1f1;
            position: sticky;
            top: 0;
        }

        li {
            padding: 10px;
        }
    }

    table {
        width: 100%;
        text-align: left;
        position: relative;
        border-collapse: collapse;

        thead {


            th {

                background: #f1f1f1;
                position: sticky;
                top: 0;
                padding: 10px;
            }
        }

        td {
            padding: 10px;
        }
    }
}